{% extends "/admin/main.jinja" %}
{% from "/users/formats.jinja" import edit_form, delete_form with context %}
{% block content %}
<div class="edit-form">
{{ edit_form(item, settings) }}
{{ delete_form(item, settings) }}
</div>
{% endblock %}