{% from "/atompub/common.jinja" import set_if_exists, link_if_exists %}
{% from "/admin/common.jinja" import link_if_allowed, select with context %}
{% from "/blog/macros.jinja" import form with context %}
{% macro new_form(item, settings) %}
{{ form(url('users'), method="post") }}
<fieldset>
	<div class="field-n-label">
	<label for="name">Name</label>
	<input type="text" name="name" id="name" length="255" value="{{ item.name|formfield }}" />
	</div>
	<div class="field-n-label">
	<label for="type">User Type</label>
	{{ select('type', item.type, h.get_permissions().items()) }}
	</div>
	<div class="field-n-label">
	<label for="open_id">OpenID URL</label>
	<input type="text" name="open_id" id="open_id" value="{{ item.open_id|formfield }}" />
	</div>
	<div class="field-n-label">
	<label for="twitter_id">Twitter ID</label>
	<input type="text" name="twitter_id" id="twitter_id" value="{{ item.twitter_id|formfield }}" />
	</div>
	<div class="field-n-label">
	<label for="fb_id">Facebook ID</label>
	<input type="text" name="fb_id" id="fb_id" value="{{ item.fb_id|formfield }}" />
	</div>
	<div class="field-n-label">
	<label for="profile">Profile URL</label>
	<input type="text" name="profile" id="profile" value="{{ item.profile|formfield }}" />
	</div>
	<input type="submit" name="save" id="save" value="Save" />
</fieldset>
</form>
{% endmacro %}

{% macro edit_form(item, settings) %}
{{ form(url('user', id=item.id), method="put") }}
<fieldset>
	<div class="field-n-label">
	<label for="name">Name</label>
	<input type="text" name="name" id="name" length="255" value="{{ item.name|formfield }}" />
	</div>
	<div class="field-n-label">
	<label for="type">User Type</label>
	{{ select('type', item.type, h.get_permissions().items()) }}
	</div>
	<div class="field-n-label">
	<label for="open_id">OpenID URL</label>
	<input type="text" name="open_id" id="open_id" value="{{ item.open_id|formfield }}" />
	</div>
	<div class="field-n-label">
	<label for="twitter_id">Twitter ID</label>
	<input type="text" name="twitter_id" id="twitter_id" value="{{ item.twitter_id|formfield }}" />
	</div>
	<div class="field-n-label">
	<label for="fb_id">Facebook ID</label>
	<input type="text" name="fb_id" id="fb_id" value="{{ item.fb_id|formfield }}" />
	</div>
	<div class="field-n-label">
	<label for="profile">Profile URL</label>
	<input type="text" name="profile" id="profile" value="{{ item.profile|formfield }}" />
	</div>
	<input type="submit" name="save" id="save" value="Save" />
</fieldset>
</form>
{% endmacro %}

{% macro delete_form(item, settings) %}
{{ form(url('user', id=item.id), method="delete") }}
<fieldset>
	<input type="submit" value="Delete" />
</fieldset>
</form>
{% endmacro %}

{% macro index_html(items, settings) %}
<table>
	<thead>
		<tr>
			<td class="filler-cell">&nbsp;</td>
			<th>Name</th>
			<th>Type</th>
		</tr>
	</thead>
	<tbody>
	{% for item in items %}
	<tr class="{{ loop.cycle('odd', 'even') }}">
		<td>
			{{ link_if_allowed("Edit",url('edit_user', id=item.id)) }}
		</td>
		<td>{{ item.name }}</td>
		<td>{{ h.get_permissions().get(item.type,'None') }}</td>
	</tr>
	{% endfor %}
	</tbody>
</table>
{% endmacro %}

{% macro show_html(item, settings) %}
{% endmacro %}

{% macro show_json(item, settings) %}
{{ item.to_dict()|jsonify }}
{% endmacro %}

{% macro show_atom(item, settings) %}
<feed xmlns="http://www.w3.org/2005/Atom">
	<link rel="index" href="{{ app_globals.settings('site_link') }}" />
	<link rel="service" href="{{ url('atom_service', qualified=True) }}" />
	<link rel="alternate" href="{{ url.current(format='html', qualified=True) }}" />
	<link rel="self" href="{{ url.current(qualified=True) }}" />
	{#{ link_if_exists('link',app_globals.settings('site_license'), rel='license') }#}
	{#<link rel="pingback" href="{{ url('pinkback_service', qualified=True) }}" />#}
	<link rel="first" href="{{ url.current(p=1) }}" />
	<link rel="last" href="{{ url.current(p=item.articles.count() // settings.get('maximum_items')) }}" />
	<link rel="next" href="{{ url.current(p=page_num + 1) }}" />
	{% if page_num > 1 %}
	<link rel="previous" href="{{ url.current(p=page_num-1) }}" />
	{% endif %}
	<id>{{ h.uuid4().get_urn() }}</id>
	<title>{{ app_globals.settings('site_name') }}</title>
	<updated>{{ item.articles[0].date|rfc3339 if item.articles != None else h.rfc3339.now()|rfc3339 }}</updated>
	<generator>Columns AtomPub 1.0<generator>
	{{ set_if_exists('rights',app_globals.settings('site_rights')) }}
	{{ set_if_exists('icon',app_globals.settings('site_icon')) }}
	{{ set_if_exists('logo',app_globals.settings('site_logo')) }}
	{{ set_if_exists('subtitle',app_globals.settings('site_subtitle')) }}
	{% from "/articles/formats.jinja" import show_atom as show_atom_article with context %}
	{% for article in item.articles.limit(settings.get('maximum_items')).offset((page_num - 1) * settings.get('maximum_items')).all() %}
		{{ show_atom_article(article) }}
	{% endfor %}
</feed>
{% endmacro %}